<ion-content>
  <div id="custom-header">
    <!-- SEARCHBAR -->
    <div id="searchbar-wrapper">
      <ion-searchbar
        placeholder="Buscar"
        [showCancelButton]="true"
        cancelButtonText="Cancelar"
        [animated]="false"
        (ionInput)="search($event)"
        (ionClear)="clear($event)"
        (ionCancel)="clear($event)">
      </ion-searchbar>
    </div>
  
    <!-- TÍTULO DA PÁGINA -->
    <nav-title
      [title]="'Meus serviços'"
      class="sign-primary content-white"
    ></nav-title>
  
    <!-- BOTÃO PARA A TELA DE SELEÇÃO DE FAVORITOS -->
    <div id="button-wrapper">
      <button ion-button icon-only id="select-favorite" (click)="goToSelectFavorites()">
        <ion-icon name="custom-selecionar-favoritos"></ion-icon>
      </button>
    </div>
  </div>
  
  <!-- SLIDES -->
  <ion-slides [pager]="true">
    <ion-slide *ngFor="let slide of slides">
      <div class="slide-line" *ngFor="let line of slide">
        <button ion-button clear icon-start *ngFor="let item of line" (click)="openPage(item.component)">
          <ion-icon name="{{item.icon}}"></ion-icon>
          {{item.title}}
        </button>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-item *ngIf="!filteredMenus.length" text-center no-lines id="not-founded">
    <p>Nenhum serviço encontrado</p>
    <p>Tente mudar o filtro da consulta</p>
  </ion-item>

  <!-- BARRA INFERIOR -->
  <div class="footer">
    <button menuToggle icon-only id="menu-button">
      <ion-icon name="custom-menu-menu-bar"></ion-icon>
    </button>
  </div>
  
  
</ion-content>
