<ion-list *ngIf="debits && debits.length"
          class="debits">
    <ion-list-header>
        {{ countDebits() }} débitos <button ion-button item-right (click)="generateBillet()" ng-show="debits.length > 0">Gerar Guia</button>
    </ion-list-header>
    <ion-item text-wrap>
        
            <ion-label color="primary">
                <strong>Não serão considerados parcalementos nesta versão do ESPM</strong>
            </ion-label>
            
    </ion-item>
    <ion-item *ngFor="let debit of ensureDebits()">        
        <div item-start
            class="debit__description">{{debit.dataVencimento | shortDateFormat}} </div>
        <ion-note class="debit__date">{{debit.descricaoServico}}</ion-note>
        <small color-secondary-fg>{{debit.valorAtualizadoFranquia | currency:"BRL":true:"1.2" }}</small>        
        
    </ion-item>
</ion-list>
<ion-list *ngIf="debits && !debits.length"
          class="debits">
    <ion-list-header>
        Nenhum débito encontrado
    </ion-list-header>
</ion-list>