<ion-list *ngIf="debits && debits.length" class="debits">
  
    <!-- {{ countDebits() }} débitos | selecionados -->
    
  <div *ngFor="let debit of debits">
    <ion-item>
      <ion-checkbox
        [disabled]="debit.flag.disabled"
        (ionChange)="adicionaDebitos()"
        [(ngModel)]="debit.flag.checked"
      ></ion-checkbox>
      <ion-label>
        {{ debit.descricaoServico }}<br/>
        {{ debit.dataVencimento | shortDateFormat }} |
        <span text-wrap color-secondary-fg>{{ debit.valorAtualizadoFranquia | currency: 'BRL':true:'1.2' }}</span>
      </ion-label>
    </ion-item>
  </div>
  <button
      ion-button
      item-right
      (click)="generateBillet()"
      ng-show="debits.length > 0">
      Pagamento
    </button>
</ion-list>
<ion-list *ngIf="debits && !debits.length" class="debits">
  <ion-list-header>
    Nenhum débito encontrado
  </ion-list-header>
</ion-list>
