<ion-list *ngIf="debits && debits.length" class="debits">
  <ion-list-header>
    {{ countDebits() }} débitos | selecionados<button
      ion-button
      item-right
      (click)="generateBillet()"
      ng-show="debits.length > 0"
    >
      Gerar Guia
    </button>
  </ion-list-header>
  <!-- <ion-item text-wrap>
    <ion-label color="primary">
      <strong>Não serão considerados Parcelamentos nesta versão do ESPM</strong>
    </ion-label>
  </ion-item> -->
  <div *ngFor="let debit of debits">
    <ion-item>
      <ion-checkbox
        ngModel
        [name]="debit.idDebito"
        [ngModelOptions]="{ standalone: true }"
        (ionChange)="toggleItem(debit)"
        checked="{{ debit.flag.checked }}"
        disabled="{{ debit.flag.disabled }}"
      ></ion-checkbox>
      <ion-label
        >{{ debit.dataVencimento | shortDateFormat }} |
        <span color-secondary-fg>{{ debit.valorAtualizadoFranquia | currency: 'BRL':true:'1.2' }}</span> |
        {{ debit.descricaoServico }}</ion-label
      >
    </ion-item>
  </div>
</ion-list>
<ion-list *ngIf="debits && !debits.length" class="debits">
  <ion-list-header>
    Nenhum débito encontrado
  </ion-list-header>
</ion-list>
