<ion-header color-primary-bg>
  
  <ion-searchbar placeholder="Pesquisar..."
                 [showCancelButton]="true"
                 cancelButtonText="Cancelar"
                 [animated]="false"
                 (ionInput)="search($event)"
                 (ionClear)="clear($event)"
                 (ionCancel)="clear($event)">
  </ion-searchbar>
  <ion-navbar hideBackButton>
      <!-- <button ion-button
              menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button> -->
      <ion-title>CONCURSOS </ion-title>
    </ion-navbar>
  <div class="efeito_css"></div>
</ion-header>

<ion-content>
  
  <ion-list-header class="testo_negrito" *ngIf="filteredConcursos && filteredConcursos.length">
    {{filteredConcursos.length}} ENCONTRADOS
  </ion-list-header>
   <ion-list  no-margin
            [virtualScroll]="filteredConcursos"
            [virtualTrackBy]="trackById"
            approxItemHeight="">
              
    <button class="radius_concursos" 
            *virtualItem="let concurso"
            (click)="showDetails(concurso.id)">
            <div>
            <div>
              <h3 text-wrap class="concursos_name">
                {{limite(concurso.orgao) }}  
              </h3>
            </div>
            
              <p text-wrap class="concursos_descricao">
                {{ concurso.descricao }}
              </p>
            <div class="status_float">
            <p class="center_css" >
          <concurso-status  [status]="concurso.status"></concurso-status>
            </p>
            <p>
            <ion-icon class="star_css" name="star"></ion-icon>
           </p>
          </div>
        </div>
    </button>
  </ion-list>

  <ion-item *ngIf="filteredConcursos && !filteredConcursos.length"
            text-center
            no-lines
            id="not-founded">
    <h2>Nenhum concurso encontrado</h2>
    <p>Tente mudar o filtro da consulta</p>
  </ion-item>
  <ion-spinner *ngIf="!filteredConcursos"
               page-loading></ion-spinner>
              
</ion-content>