page-transparencia-revenue-details {
  nav-title {
    p {
      font-size: 1.8rem !important;
    }
  }
  ion-list {
    display: flex;
    flex-direction: column;
    &.desc {
      flex-direction: column-reverse;
    }
  }
}
