<ion-header color-primary-bg>
  <ion-navbar>
    <button ion-button
            menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="revenues">
  <report-title *ngIf="data"
                [title]="reportTitle"
                [info]="data.info"></report-title>

  <pie-chart [data]="data.chart"
             *ngIf="data?.chart"></pie-chart>

  <report-list-summary #header>
    <h2 *ngIf="data">{{data.total | currency: 'BRL': 'symbol'}}</h2>
  </report-list-summary>

  <ion-list *ngIf="data"
            [class.desc]="'desc' === header.sort">
    <default-item *ngFor="let item of data.listable"
                  [item]="item"></default-item>
  </ion-list>
  <last-update *ngIf="data"
               [date]="data.lastUpdate"></last-update>
</ion-content>