<module-page title="Linhas Transcol" no-scroll no-padding>
  <ion-searchbar placeholder="Pesquisar..."
                 [showCancelButton]="true"
                 cancelButtonText="Cancelar"
                 [animated]="false"
                 (ionInput)="search($event)"
                 (ionClear)="clear($event)"
                 (ionCancel)="clear($event)">
  </ion-searchbar>
  <ion-list-header *ngIf="filteredLines">
    <ng-container *ngIf="filteredLines.length"> Exibindo {{filteredLines.length}} linhas</ng-container>
    <ng-container *ngIf="!filteredLines.length"> Nenhuma linha de ônibus encontrada</ng-container>
  </ion-list-header>
  <ion-content>
    <ion-list [virtualScroll]="filteredLines"
              [virtualTrackBy]="trackByNumber"
              approxItemHeight="70px">
      <button ion-item
              detail-none
              *virtualItem="let line"
              class="busline"
              (click)="showDetails(line, $event)">
        <h2 item-start
            class="busline_number"
            tappable>{{line.number}}</h2>
        <p text-wrap
          class="busline_name">{{line.name}}</p>
        <ion-icon *ngIf="line.isFavorite"
                  class="busline_icon"
                  item-end
                  name="md-star"></ion-icon>
        <ion-icon *ngIf="!line.isFavorite"
                  class="busline_icon"
                  item-end
                  name="md-star-outline"></ion-icon>
      </button>
    </ion-list>
  </ion-content>
</module-page>