
edocs-documents-to-send-addressees {

    ion-scroll {
      white-space: nowrap;
    }

    .scrollable{
      height: 40vh;
      border: 1px solid black;
    }

    .addButton {
      float: right;
      margin-right: 0em;
    }
}
