<ion-list no-lines>
  <ion-item class="sub-header">
    <ion-row>
      <ion-col>
        <h2>PRODEST</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <table class="table">
          <tbody>
            <tr>
              <th>Número do vínculo:</th>
              <td>4</td>
            </tr>
            <tr>
              <th>Número funcional:</th>
              <td>3295257</td>
            </tr>
          </tbody>
        </table>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item>
    <civil-servant-paycheck-sheet></civil-servant-paycheck-sheet>
  </ion-item>
</ion-list>
