<ion-list no-lines>
  <ion-item class="sub-header">
    <ion-row>
      <ion-col>
        <h2>PRODEST</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <table class="table">
          <tbody>
            <tr>
              <th>Número do vínculo:</th>
              <td>{{ numVinc }}</td>
            </tr>
            <tr>
              <th>Número funcional:</th>
              <td>{{ numFunc }}</td>
            </tr>
          </tbody>
        </table>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item>
    <civil-servant-paycheck-sheet-form [years]="years" [months]="months" [sheets]="sheets"
      (onSelectYear)="selectYear($event)" (onSelectMonth)="selectMonth($event)" (onSubmit)="selectSheet($event)">
    </civil-servant-paycheck-sheet-form>
  </ion-item>
</ion-list>
