
edocs-documents-to-send-footer {
  display: block;

  ion-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
  }

  ion-card-content {
    border-bottom: 1px solid #f5f5f5 !important;
    border-top: 1px solid #f5f5f5 !important;
    padding-top: 10px !important;
  }
}