page-login {

  /* Geral */

  ion-content, .scroll-content {
    height: 100%;
  }

  .scroll-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: white;
    overflow: hidden;
  }

  ion-grid, ion-col {
    padding: 0 !important;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* Header */

  #return {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 15px;
    background-color: transparent;
    padding: 0;
  }

  /* Inputs */
  // TODO: Formatar os campos de input conforme Guideline

  #inputs {
    width: 90%;
  }

  ion-item, ion-input {
    width: 100%;
  }

  /* Botões */

  .login-button {
    width: 75%;
  }



  
  /* 
  
  ion-content {

    

    .item {
      background-color: transparent !important;

      ion-label,
      .text-input {
        color: #343434 !important;
      }

      &.item-block {
        margin-bottom: 10px;
      }
    }

    .social-login {
      margin-top: 20px;
      ion-icon {
        background-color: transparent !important;
      }
    }
  }


[color-primary-inverse], .color-primary-inverse {
  background-color: #ff0087 !important;
  color: white;
  border-radius: 25px;
}
.button-ios {
  background-color: rgb(0,66,152);
  border-radius: 25px;
  color: white;
}
.style {
  font-size: 30px;
  font-weight: bold;
  color:rgb(0,66,152);
}
.button-full-md{
  border-radius: 25px;
}
button {
  background-color: #f4f4f4;
  font-size: 25px;
  color:rgb(0,174,239);
}
espm-section-title .section__title {
  padding: 50px;
}
[color-primary-light], .color-primary-light {
  background-color: #f4f4f4;
  color: rgb(65,114,177);
}
.button-ios {
  margin-bottom: 10px;
} */
}
