page-login {

  /* Geral */

  ion-content, .scroll-content {
    height: 100%;
  }

  .scroll-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: white;
    overflow: hidden;

    padding-bottom: 15%;
  }

  ion-grid, ion-col {
    padding: 0 !important;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* Header */

  #return {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 15px;
    background-color: transparent;
    padding: 0;
  }

  /* Inputs */

  #inputs {
    width: 85%;
    
    ion-item, ion-input {
      width: 100%;
    }

    #ion-item-email {
      margin-bottom: 20px;
    }

    .item {
      padding: 0;
    
      .input-wrapper {
        font-family: 'Poppins';

        .label {
          color: #6584cc; // $primary-mid-dark
          font-weight: 600;
          font-size: 1.75rem;
        }

        input {
          color: #999999; // $gray-mid
          font-size: 2.2rem;
          font-weight: 400;
        }
      }
    }
  }

  #forgot-password {
    height: 2.5rem;
    width: 85%;
    align-items: flex-end;
    margin-top: 1.5rem;
    padding-right: 1rem;
    color: #00aeef; // $primary-mid
    font-weight: 400;
    font-family: 'Poppins';

    p {
      font-size: 1.5rem;
    }

    .icon {
      font-size: 2rem;
    }
  }

  /* Botões */

  .login-button {
    width: 75%;
  }

  /* Final da página */

  #access-with {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.5rem;
    color: #999999; // $gray-mid

    p {
      margin: 0;
    }
  }

  #social-login {
    flex-direction: row;
    justify-content: center;

    .social-login {
      width: 42%;
      height: fit-content;
      // border: 1px solid red;
      padding: 0;
      
      img {
        height: 4.5rem;
      }
    }
  }

  /* Em telas maiores */
  // iPad
  @media screen and (min-width: 650px) {

    .login-button {
      width: 40%;
    }
  }

  
  /* 
  
  ion-content {

    

    .item {
      background-color: transparent !important;

      ion-label,
      .text-input {
        color: #343434 !important;
      }

      &.item-block {
        margin-bottom: 10px;
      }
    }

    .social-login {
      margin-top: 20px;
      ion-icon {
        background-color: transparent !important;
      }
    }
  }


[color-primary-inverse], .color-primary-inverse {
  background-color: #ff0087 !important;
  color: white;
  border-radius: 25px;
}
.button-ios {
  background-color: rgb(0,66,152);
  border-radius: 25px;
  color: white;
}
.style {
  font-size: 30px;
  font-weight: bold;
  color:rgb(0,66,152);
}
.button-full-md{
  border-radius: 25px;
}
button {
  background-color: #f4f4f4;
  font-size: 25px;
  color:rgb(0,174,239);
}
espm-section-title .section__title {
  padding: 50px;
}
[color-primary-light], .color-primary-light {
  background-color: #f4f4f4;
  color: rgb(65,114,177);
}
.button-ios {
  margin-bottom: 10px;
} */
}
