paystub-profiles {
  ion-list.list {
    flex: 1 !important;
    margin: 0 !important;

    p {
      // para dispositivos pequenos o texto
      // ser quebrado e exibido de forma integral
      word-break: normal;
      white-space: normal;
    }

    [ion-button] {
      font-family: 'Poppins';
      font-weight: 600;
      text-transform: none;
      margin-top: 0;
      margin-bottom: 5px;
      box-shadow: none;
      text-align: right;

      .button-inner {
        justify-content: space-between;
      }
    }
  }
}
