# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# dependencies
/node_modules

.env
build.json
espm.keystore

// push
google-services.json
GoogleService-Info.plist

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
npm-debug.log*
testem.log

# IDEs and editors
.vscode/
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# compiled output
/dist
/tmp
/build
temp/

# ngc output
src/**/*.map
src/**/*.metadata.json
src/**/*.ngsummary.json
src/**/*.js

# exceptions
!src/assets/scripts/Chart.bundle.min.js

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
/connect.lock
/libpeerconnection.log
$RECYCLE.BIN/
/typings

#System Files
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

# e2e
/e2e/*.js
/e2e/*.map
