page-transparencia-about {
  .card {
    p {
      margin-bottom: 10px;
    }
  }

  .card-header h3 {
    color: #ff0083 !important;
  }

  .card-header-md h3 {
    font-size: 1.8rem;
    white-space: normal;
  }
}
