espm-tickets {
  .ticket__details {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ticket__date {
    font-size: 13px;
    margin: 3px 0 10px 0;
    display: block;
  }

  .ticket__address {
    font-size: 1.2rem;
    margin-bottom: 15px;
    margin-top: 5px;
    display: flex;

    ion-icon {
      background: transparent;
      color: #6c6c6c;
      margin-right: 5px;
    }
  }

  .ticket__description {
    display: block;
    color: #666;
  }

  .ticket__points {
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    width: 50px;
    height: 50px;
    margin-right: 15px !important;
  }
}
