<ion-list *ngIf="tickets && tickets.length"
          class="tickets">
    <ion-list-header>
        {{tickets.length}} débitos | {{ totalAmount() | currency:"BRL":true:"1.2" }}<button ion-button item-right (click)="generateBillet()">Gerar Guia</button>
    </ion-list-header>
    <ion-item *ngFor="let ticket of tickets">               
        <ion-note class="ticket__date">{{ticket.date | dateFormat}}</ion-note> 
        <p text-wrap
           class="ticket__address" *ngIf="ticket.place">
            <ion-icon name="pin"></ion-icon>{{ticket.place | capitalize}}, {{ticket.district | capitalize}}
        </p>
        <p text-wrap class="ticket__address">
            <ion-icon name="logo-usd"></ion-icon>{{ticket.amount | currency:"BRL":true:"1.2" }}
        </p>        
        <small text-wrap
               margin-top
               class="ticket__description">{{ticket.description}}</small>        
    </ion-item>
</ion-list>
<ion-list *ngIf="tickets && !tickets.length"
          class="tickets">
    <ion-list-header>
        Nenhum débito encontrado
    </ion-list-header>
</ion-list>
