<ion-header>
  <ion-navbar> <ion-title>Detalhes</ion-title> </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>{{ concurso.nome }}</h1>

  <ion-list>
    <ion-item>
      <h2>Datas:</h2>
      <ul *ngIf="concurso.datas">
        <div *ngFor="let data of concurso.datas">{{ data.nome }} {{ data.inicio }} {{ data.fim }}</div>
      </ul>
      <h2>Classificação:</h2>
      <ul>
        <div><button ion-button full (click)="showclassificados(concurso.id)">Classificação</button></div>
      </ul>
      <h2>Anexos:</h2>
      <div *ngIf="concurso.anexos">
        <div *ngFor="let anexo of concurso.anexos">
          <button ion-button full (click)="openLink(anexo.link)">{{ anexo.documento }}</button>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
