siarhes-profiles {
  p.info {
    // para dispositivos pequenos o texto
    // ser quebrado e exibido de forma integral
    word-break: normal;
    white-space: normal;
    margin-bottom: 20px;
  }
  p.text-danger {
    color: #dc3545;
  }
  ion-list {
    .button-content {
      h3 {
        font-weight: 600;
      }
    }
    button.item {
      border-width: 1px!important;
      border-top: 1px solid #eee;

      &:last-child {
        border-bottom: 1px solid #eee;
      }
    }
  }
}
