<ion-header>
  <ion-navbar>
    <button ion-button
            menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notícias</ion-title>
    <ion-buttons end>
      <button ion-button
              icon-only
              (click)="openFilter()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let newsItem of news"
              (click)="goToNews(newsItem.id)">
      <h2>{{newsItem.title}}</h2>
      <p>
        <span accent>{{newsItem.origin}}</span> | {{newsItem.date | fromNow }}
      </p>
      <ion-thumbnail item-end
                     *ngIf="newsItem.image">
        <img [src]="newsItem.image"
             onerror="this.style.display='none'" />
      </ion-thumbnail>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="news && !news.length">
    <ion-list-header>
      Nenhuma notícia encontrada
      <remark>Tente mudar o filtro da consulta</remark>
    </ion-list-header>
  </ion-list>

  <ion-infinite-scroll *ngIf="hasMoreNews"
                       (ionInfinite)="doPaginate($event)">
    <ion-infinite-scroll-content loadingText="Carregando notícias..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>