<!--
  Generated template for the NewsListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notícias</ion-title>
    <ion-buttons end>
      <button ion-button (click)="openFilter()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let newsItem of news" (click)="goToNews(newsItem.id)">
      <ion-row nowrap>
        <ion-col>
          <h2 class="news-title">{{newsItem.title}}</h2>
          <div class="news-info">
            <span class="news-origin">{{newsItem.origin}}</span> |
            <span class="news-date">{{newsItem.date | fromNow }}</span>
          </div>
        </ion-col>
        <ion-col *ngIf="newsItem.image" no-padding>
          <img alt="" [src]="newsItem.image" onerror="this.style.display='none'" />
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="news && !news.length">
    <ion-list-header>
      Nenhuma notícia encontrada
      <remark>Tente mudar o filtro da consulta</remark>
    </ion-list-header>
  </ion-list>

  <ion-infinite-scroll *ngIf="hasMoreNews" (ionInfinite)="doPaginate($event)">
    <ion-infinite-scroll-content loadingText="Carregando notícias..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
