page-news-list {

  #content, .scroll-content {
    padding: 0;
    background-color: inherit;
  }
  
  ion-item ion-label.label {
    margin-bottom: 5px;
  }
  
  h2 {
    white-space: normal;
    margin-bottom: 5px;
  }
}
