page-home-screen {
  // TODO: Aplicar as varuáveis de cores

  /* Geral */
  .scroll-content {
    background-color: white;
  }
  height: 100%;

  .slide-zoom, .slide-zoom > ion-grid {
    height: 100%;
  }

  .row-content {
    height: 70%;
  }

  ion-grid, ion-col {
    padding: 0 !important;
  }

  .wrapper {
    display: flex;
    justify-content: center;
  }

  .img-home-screen {
    img {
      width: 70%;
    }
  }

  /* Slide 1 - Boas vindas */
  #img-welcome {
    max-width: 520px;
  }

  #description {
    font-family: 'Poppins';
    font-weight: 600; // semi-bold
    font-size: 20px;
    color: #ff0083; // $secondary-dark
  }

  #next-slide{
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 20px;
    background-color: transparent;
  }

  /* Slide 2 - Acesso */
  #img-login {
    max-width: 459px;
    margin-bottom: 10%;
  }

  .slide-2-button {
    font-family: 'Poppins';
    font-weight: 600; // semi-bold
    width: 75%;
    text-transform: none;
  }

  #btn-my-account {
    background-color: #ff0083; // $secondary-dark
    border-width: 0.75px;
    border-style: solid;
    border-color: #f8c1d9; // $secondary-ligth
  }

  #btn-my-account:active {
    background-color: #820043; // $secondary-very-dark
  }

  #btn-visitor {
    background-color: #004297; // $primary-dark
    border-width: 0.75px;
    border-style: solid;
    border-color: #abe1fa; // $primary-light
  }

  #btn-visitor:active {
    background-color: #003069; // $primary-very-dark
  }

  /* Em telas menores */
  // Galaxy S5
  @media screen and (max-width: 399px) {
    // menor tamanho do botão "next slide"
    #next-slide{
      font-size: 15px;
      right: 15px;
      bottom: 15px;
    }
  }

  // iPhone 5/SE
  @media screen and (max-width: 349px) {
    // menor tamanho do texto de descrição
    #description {
      font-size: 17px;
    }
  }

  /* Em telas maiores */
  // iPad
  @media screen and (min-width: 550px) {
    // menor largura dos botões do slide 2
    .slide-2-button {
      width: 40%;
    }
  }
}