page-home-screen {
  // TODO: Aplicar as variáveis de cores

  /* Geral */
  height: 100%;

  .scroll-content {
    background-color: white;
  }

  .slide-zoom, .slide-zoom > ion-grid {
    height: 100%;
  }

  .row-content {
    height: 70%;
  }

  ion-grid, ion-col {
    padding: 0 !important;
  }

  .wrapper {
    display: flex;
    justify-content: center;
  }

  .img-home-screen {
    img {
      width: 70%;
    }
  }

  /* Slide 1 - Boas vindas */
  #img-welcome {
    max-width: 520px;
  }

  #description {
    font-family: 'Poppins';
    font-weight: 600; // semi-bold
    font-size: 20px;
    color: #ff0083; // $secondary-dark
  }

  #next-slide{
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 20px;
    background-color: transparent;
  }

  /* Slide 2 - Acesso */
  #img-login {
    max-width: 459px;
    margin-bottom: 10%;
  }

  /* Em telas menores */
  // Galaxy S5
  @media screen and (max-width: 399px) {
    // menor tamanho do botão "next slide"
    #next-slide{
      font-size: 15px;
      right: 15px;
      bottom: 15px;
    }
  }

  // iPhone 5/SE
  @media screen and (max-width: 349px) {
    // menor tamanho do texto de descrição
    #description {
      font-size: 17px;
    }
  }
}