page-sep-search {
  ion-content {
    background: #208baa url('../assets/imgs/sep/triangles.png') !important;
  }

  .toolbar-background, .searchbar {
    background-color: #003069;
  }

  ion-toolbar {
    button {
      background-color: white !important;
      color: #004297 !important;
    }
  }

  .search-bar .col {
    &:first-child {
      flex-grow: 8;
    }
    .searchbar-md .searchbar-input {
      padding: 6px 40px;
    }
    .searchbar.searchbar-ios .searchbar-input {
      background-color: white;
    }
  }

  .initial-message {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    h2 {
      font-size: 2rem;
    }
  }

  favorite-protocol {
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
  }
}
