<module-page title="Consulta Processo" no-padding>
  <ion-buttons topbar>
    <button icon-only
            (click)="scanBarcode()">
      <ion-icon name="md-barcode"></ion-icon>
    </button>
  </ion-buttons>
  <ion-toolbar>
    <ion-row class="search-bar">
      <ion-col>
        <ion-searchbar type="text"
                        placeholder="N° do protocolo"
                        [(ngModel)]="protocolId"
                        (change)=search(protocolId)>
        </ion-searchbar>
      </ion-col>
      <ion-col>
        <button ion-button
                (click)="search(protocolId)">
          Buscar
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-content no-bounce> 
    <div *ngIf="!sepService.hasFavorites()"
         text-center
         class="initial-message">
      <img src="assets/imgs/sep/logo-branco.png">
      <p margin>Digite o protocolo do processo que deseja consultar ou clique no ícone para abrir o leitor de código de barras</p>
    </div>
  
    <favorite-protocols *ngIf="sepService.hasFavorites()"
                        (open)="search($event.number)"
                        [protocols]="sepService.favorites"></favorite-protocols>
  
  </ion-content>
</module-page>