page-sep-search {
  @media screen and (max-width: 350px) {
    nav-title .content p {
      font-size: 20px;
    }
  }
  ion-content {
    background: transparent !important;
  }

  .toolbar-background,
  .searchbar {
    background-color: transparent;
  }

  .searchbar-input {
    box-shadow: none !important;
  }

  ion-toolbar {
    button {
      background-color: white !important;
      color: #004297 !important;
    }
  }

  .search-bar .col {
    &:first-child {
      flex-grow: 8;
    }
    .searchbar-md .searchbar-input {
      padding: 6px 40px;
    }
    .searchbar.searchbar-ios .searchbar-input {
      background-color: white;
    }
  }

  .initial-message {
    color: #004297;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    #message-title {
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 600;
    }

    h2 {
      font-size: 2rem;
    }
  }

  favorite-protocol {
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
  }
}
