page-detalhes-denuncia {
  .content p {
    font-size: 30px !important;
  }
  
  ion-card {
    box-shadow: none !important;
    border-radius: 15px !important;
  }

  @media screen and (max-width: 361px) {
    .content p {
      font-size: 25px !important;
    }
  }
}