page-vehicle-debits {
    .scroll-content {
    background-color: #ffffff;
    }
    .item-md {
        border-radius: 25px;
        margin-top: 3px; 
        background-color: rgb(233, 247, 254);  
    }
    .toolbar-title{
        background-color: #ffffff;
        color: #004297;
        font-weight: bold;
        font-size: x-large;
      }
      button {
        background-color: #ffffff; 
        color: rgb(0,174,239);
        font-size: x-large;
        margin-top: 10px;
        margin-left: 10px;
      }
      .button-md {
        position: absolute;
        bottom: 40px;
        right: 20%;
        font-size: 2.4rem;
        border-radius: 25px;
        background-color: #004297;
      }
      ion-title {
        margin-bottom: 20px;
        margin-top: 15px;
      }
}
