<module-page title="Filtrar Notícias" no-footer no-scroll>
  <ion-list shadow>
    <ion-list-header>
      Palavra-chave
    </ion-list-header>
    <ion-item no-lines>
      <ion-label stacked>Palavra-chave</ion-label>
      <ion-input type="text"
                 [(ngModel)]="filter.query"
                 required></ion-input>
    </ion-item>
    <ion-list-header>
      Período
    </ion-list-header>
    <ion-item>
      <ion-label stacked>Data inicial</ion-label>
      <ion-datetime [(ngModel)]="filter.dateMin"
                    displayFormat="DD/MM/YYYY"
                    pickerFormat="DD MM YYYY"
                    cancelText="Cancelar"
                    doneText="Selecionar">
      </ion-datetime>
    </ion-item>
    <ion-item no-lines>
      <ion-label stacked>Data Final</ion-label>
      <ion-datetime [(ngModel)]="filter.dateMax"
                    displayFormat="DD/MM/YYYY"
                    pickerFormat="DD MM YYYY"
                    cancelText="Cancelar"
                    doneText="Selecionar">
      </ion-datetime>
    </ion-item>
    <ion-list-header id="mark-all-wrapper">
      <button ion-button round id="mark-all">
        <span *ngIf="isAllChecked()"
            (click)="toggleAllChecked()"
            class="label-button">Desmarcar todos os Órgãos</span>

        <span *ngIf="!isAllChecked()"
            (click)="toggleAllChecked()"
            class="label-button">Selecionar todos os Órgãos</span>
      </button>
    </ion-list-header>
    <ion-item *ngFor="let origin of availableOrigins">
      <ion-label>{{origin}}</ion-label>
      <ion-checkbox [checked]="isSelected(origin)"
                    (click)="toggleChecked(origin)"></ion-checkbox>
    </ion-item>
  </ion-list>
  <span separator shadow></span>
  <large-button
    text="Pesquisar"
    leftIcon="ios-search"
    rightIcon="ios-arrow-forward-outline"
    color="primary-dark"
    (click)="dismiss()"
  ></large-button>
</module-page>