<ion-header color-primary-bg>
  <ion-navbar>
    <button ion-button
            menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="data">{{data.city}}</ion-title>
    <ion-buttons end>
      <button ion-button
              icon-only
              (click)="openFilter()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <report-title *ngIf="data"
                [title]="reportTitle"
                [info]="data.info"></report-title>

  <pie-chart [data]="data.chart"
             *ngIf="data?.chart"></pie-chart>

  <report-list-summary #header>
    <h2 *ngIf="data">{{data.total | currency: 'BRL': 'symbol'}}</h2>
  </report-list-summary>
  <ion-list *ngIf="data"
            [class.desc]="'desc' === header.sort">
    <public-works-by-city-item *ngFor="let item of data.listable"
                               [item]="item"
                               navPush="PublicWorksDetailsPage"
                               [navParams]="{id:item.id}"></public-works-by-city-item>
  </ion-list>
  <last-update *ngIf="data"
               [date]="data.lastUpdate"></last-update>
</ion-content>