<ion-content *ngIf="(vehicles$ | async ) as vehicles">
  <nav-header [title]="'Meus veículos'" class="sign-primary"></nav-header>
  
  <div class="remove">
    <ion-buttons *ngIf="(vehicles$ | async )?.length" end>
      <button *ngIf="!editing"
        ion-button
        icon-only
        (click)="toggleEditMode($event)">
        <ion-icon name="md-create"></ion-icon>
      </button>
      <button *ngIf="editing"
        ion-button
        icon-only
        (click)="toggleEditMode($event)">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </div>

  <ion-list *ngIf="vehicles && vehicles.length" >
    <espm-vehicle [vehicle]="vehicle"
      *ngFor="let vehicle of vehicles"
      [class.disabled]="editing"
      (click)="showDebitTipe(vehicle)">
      <!-- <ion-list *ngIf="vehicles && vehicles.length">
        <ion-item>
          <button class="vehicle__button" *ngIf="!editing" ion-button clear item-end color-secondary-fg (click)="showTickets(vehicle)">MULTAS</button>
        </ion-item>
        <ion-item>
          <button class="vehicle__button" *ngIf="!editing" ion-button clear item-end color-secondary-fg (click)="showDebitTipe(vehicle)">DÉBITOS</button>
        </ion-item>
      </ion-list>       -->
      <button class="vehicle__button"
        *ngIf="editing"
        ion-button
        clear
        item-end
        color-secondary-fg
        (click)="confirmRemove(vehicle)"
      >REMOVER</button>
    </espm-vehicle>
  </ion-list>

  <ion-item *ngIf="vehicles && !vehicles.length" text-center>
    <h2>Nenhum veículo cadastrado</h2>
    <p text-wrap>Adicione veículos para consulta suas multas</p>
  </ion-item>

  <ion-fab right bottom margin-right>
    <button
      class="pop-in"
      ion-fab
      (click)="addVehicle()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <main-footer-bar></main-footer-bar>
</ion-content>
