<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button
            menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meus veículos</ion-title>
    <ion-buttons *ngIf="(vehicles$ | async )?.length"
                 end>
      <button *ngIf="!editing"
              ion-button
              icon-only
              (click)="toggleEditMode($event)">
        <ion-icon name="md-create"></ion-icon>
      </button>
      <button *ngIf="editing"
              ion-button
              icon-only
              (click)="toggleEditMode($event)">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="(vehicles$ | async ) as vehicles">
  <ion-list *ngIf="vehicles && vehicles.length">
    <ion-list-header>
      Veículos cadastrados
      <ng-container *ngIf="vehicles.length > 1"> ({{vehicles.length }} veículos)</ng-container>
    </ion-list-header>
    <espm-vehicle [vehicle]="vehicle"
                  *ngFor="let vehicle of vehicles"
                  [class.disabled]="editing">
      <ion-list *ngIf="vehicles && vehicles.length">
        <ion-item>
          <button class="vehicle__button" *ngIf="!editing" ion-button clear item-end color-secondary-fg (click)="showTickets(vehicle)">MULTAS</button>
        </ion-item>
        <ion-item>
          <button class="vehicle__button" *ngIf="!editing" ion-button clear item-end color-secondary-fg (click)="showDebits(vehicle)">DÉBITOS</button>
        </ion-item>
      </ion-list>      
      <button class="vehicle__button"
              *ngIf="editing"
              ion-button
              clear
              item-end
              color-secondary-fg
              (click)="confirmRemove(vehicle)">REMOVER</button>
    </espm-vehicle>
  </ion-list>

  <ion-item *ngIf="vehicles && !vehicles.length"
            text-center>
    <h2>Nenhum veículo cadastrado</h2>
    <p text-wrap>Adicione veículos para consulta suas multas</p>
  </ion-item>

  <ion-fab right
           bottom
           margin-right
           margin-bottom>
    <button class="pop-in"
            ion-fab
            color-primary
            (click)="addVehicle()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>