espm-dt-classificacao-page {
  .searchbar-md {
    background-color: #e9f7fe;
}
.active, [active], .toolbar-title, ion-navbar.toolbar, .toolbar-background {
  background-color: #e9f7fe;
  color: #004297;
}
.back-button-icon-md{
  color: #00aeef;
}
  .scroll-content {
    #not-founded {
      height: 100%;
    }
    .colocacao {
      color: #208baa;
      font-weight: 500;
      font-size: 1.8rem;
      margin-right: 10px;
    }
    ion-badge {
      border-radius: 50% !important;
      color: #fff !important;
      background-color: #208baa !important;
      padding: 5px 5px !important;
      margin-right: 16px !important;
    }
  }

}
.searchbar-md {
  background-color: #004297; 
    }
.searchbar-md .searchbar-input {
border-radius: 25px;
    }    