page-vehicle-debits-tipe {
  espm-vehicle {
    margin-bottom: 15px;
    
    .vehicle {
      .item-inner > ion-icon,
      .button-effect {
        display: none;
      }
    }
    
    .activated {
      background-color: white !important;
    }
  }
  
  ion-list {
    flex: 1 !important;
    margin: 0 !important;

    [ion-button] {
      background-color: white !important;
      font-family: 'Poppins';
      color: #004297; // $primary-dark
      font-weight: 600;
      text-transform: none;
      margin-top: 0;
      margin-bottom: 10px;
      
      .button-inner {
        justify-content: space-between;
      }
    }
  }
}
