apresentacao {
  @media screen and (max-width: 330px){
    ion-icon[class*="custom-"] {
      width: 0.9em;
      height: 0.6em;
      margin-left: 30%;
  }
        }
  .botao_page {
    position: fixed;
    bottom: 25px;
    left: 15px;
    right: 15px;
    z-index: 100;
    background-color: #004297;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    width: 90%;
    height: 70px;
    font-size: x-large;
   }
  
  .list_css {
    background: linear-gradient(45deg, red 50%, #208baa 50%);
    height: 2px;
    width: 42%;

  }
  .slide-zoom {
    text-align: initial;
    width: 100% !important;
    margin-right: auto;
  }
  
  
  ion-header {
    margin-left: 20px;
  }
  .header-md:after {
    top: 0px;
  }
  .style {
    margin-top: 2px;
  }
  .styles_css {
    margin-bottom: 2px;
    margin-top: 2px;
    font-weight: bold;
    font-size: xx-large;
    color: #004297;
  }
  .button-inner {
    font-size: 30px;
  }
  ion-icon {
    font-size: 1150%;
    margin-left: 25%;
}
.swiper-slide {
  background-color: #e9f7fe;
}
.ion-md-arrow-round-back:before {
  font-size: xx-large;
  color: #2BACE2;
}

button {
  font-size: 1px;
  background-color: #e9f7fe;
  margin-top: 10px;
}
ion-icon[class*="modulo-educacao"] {
  margin-top: 30%;
  margin-left: 15%;
}

}
