apresentacao {
  .botao_page {
    position: fixed;
    float: bottom;
    bottom: 25px;
    left: 15px;
    right: 15px;
    z-index: 100;
    background-color: #208baa;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    width: 90%;
    height: 70px;
  }
  .apres_conc {
    color: white;
    font-size: 30px;
    background: url(https://i1.wp.com/marketingcomcafe.com.br/wp-content/uploads/2018/01/imagem-gratis-destaquese.png?ssl=1)
      no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .list_css {
    background: linear-gradient(45deg, red 50%, #208baa 50%);
    height: 2px;
    width: 70px;
  }
  .slide-zoom {
    text-align: initial;
    margin-left: 3px;
  }
  ion-header {
    margin-left: 20px;
  }
  .header-md:after {
    top: 0px;
  }
  .style {
    margin-top: 2px;
  }
  .styles_css {
    margin-bottom: 2px;
    margin-top: 2px;
    font-weight: bold;
  }
  .button-inner {
    font-size: 30px;
  }
}
