<module-page title="Edições Recentes">
  <ng-container *ngSubscribe="latestEditions$ as latestEditions">
    <ion-list>
      <ion-item shadow *ngFor="let edition of latestEditions">
        <h3><strong>{{edition.date}}</strong> - Diário Oficial do ES</h3>
        <button ion-button item-end clear icon-start (click)="openEdition(edition.url)">
          <ion-icon name="download"></ion-icon>
          BAIXAR
        </button>
      </ion-item>
    </ion-list>
    <ion-spinner page-loading *ngIf="!latestEditions"></ion-spinner>
  </ng-container>
</module-page>