latest-editions {
  
  ion-item {
    margin-bottom: 5px !important;
    border-radius: 25px;

    h3 {
      margin: 0 !important;
    }

    button {
      color: #ff0083 !important;
    }
  }
  
}
