<ion-header>
  <ion-navbar>
    <button ion-button
            menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title (click)="isDetailsOpenned = !isDetailsOpenned">Transcol Online</ion-title>
    <ion-buttons end>
      <button ion-button
              icon-only
              (click)="openFeedback()">
        <ion-icon name="text"></ion-icon>
      </button>
      <button ion-button
              icon-only
              (click)="showHelp()">
        <ion-icon name="help"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="no-scroll">

  <favorites *ngIf="favorites?.length"
             [visible]="!selectedOrigin"
             [favorites]="favorites"
             (favoriteClick)="selectStop($event)">
  </favorites>

  <ion-searchbar class="searchbar"
                 placeholder="Pesquisar ponto de origem"
                 [ngClass]="{ 'hide-search': (selectedOrigin && selectedDestination) || isDetailsOpenned }"
                 (ionClear)="clearSearchResults()"
                 (ionCancel)="clearSearchResults()"></ion-searchbar>

  <ion-list [style.display]="isDetailsOpenned ? 'none':'inherit'"
            class="search-results-list"
            [virtualScroll]="searchResults"
            approxItemHeight="71px">
    <ion-item *virtualItem="let stop"
              (click)="selectStop(stop)"
              tappable>
      <ng-container *ngIf="stop.isTerminal">
        <h4> {{ stop.identificador}} - {{ stop.descricao }} </h4>
      </ng-container>
      <ng-container *ngIf="!stop.isTerminal">
        <h4> {{ stop.identificador}} - {{ stop.logradouro }} </h4>
        <p>
          <ng-container *ngIf="stop.descricao"> {{ stop.descricao}} - </ng-container> {{ stop.municipio }}
        </p>
      </ng-container>
    </ion-item>
  </ion-list>

  <espm-geolocation-status [searching]="searchingLocation"
                           (onLocationUpdate)="onLocationFound($event)"
                           (onLocationUpdateFinished)="onLocationUpdateFinished()"
                           (onFirstHit)="onLocationFirstHit($event)"
                           (click)="getUserLocation()"></espm-geolocation-status>

  <div class="stop-info"
       [ngClass]="{ 
    'stop-info--origin': isSummaryOpenned, 
    'stop-info--details': isDetailsOpenned, 
    'stop-info--route': selectedOrigin && selectedDestination
  }">
    <div class="stop-info__header">
      <ion-fab class="stop-info__btn">
        <button ion-fab
                (click)="onPrevisionsButtonClick()">
          <i class="fa fa-clock-o"
             aria-hidden="true"></i>
        </button>
      </ion-fab>

      <ion-fab class="stop-info__btn stop-info__btn-favorite">
        <button ion-fab
                [ngClass]="{'is-favorite': selectedOrigin.isFavorite }"
                (click)="toggleFavorite(selectedOrigin)"
                *ngIf="selectedOrigin && !selectedDestination">
          <i class="fa fa-star"
             aria-hidden="true"></i>
        </button>
      </ion-fab>

      <stop-summary *ngIf="selectedOrigin"
                    [stop]="selectedOrigin"
                    (close)="unselectOrigin()"
                    (select)="panToStop($event)">
      </stop-summary>

      <hr *ngIf="selectedDestination">
      <stop-summary *ngIf="selectedDestination"
                    [stop]="selectedDestination"
                    (close)="unselectDestination()"
                    (select)="panToStop($event)"
                    class="destination">
      </stop-summary>
    </div>
    <div class="stop-info__content"
         [ngClass]="{ 'previsionsByOrigin': isShowingOriginPrevisions, 'previsionsByLine': isShowingLinePrevisions, 'previsionsByRoute': isShowingRoutePrevisions }">
      <origin-previsions class="clickable"
                         [origin]="selectedOrigin"
                         [previsions]="previsions"
                         (selectLine)="showLinePrevisions($event)">
      </origin-previsions>

      <line-previsions [line]="selectedLine?.identificadorLinha"
                       [previsions]="previsions">
      </line-previsions>

      <route-previsions [previsions]="previsions">
      </route-previsions>

    </div>
  </div>
  <div id="map"></div>
</ion-content>