favorite-protocols {

  [ion-item] {
    &.even {
      background-color: rgba(26, 108, 132, 0.85) !important;
    }

    &.odd {
      background-color: rgba(26, 108, 132, 1) !important;
    }
    p {
      color: #fff !important;
    }

    ion-icon {
      color: #fff;
    }

    button {
      color: #fff !important;
    }
  }
}
