<module-page [title]=title no-footer>
  <ng-container *ngIf="filter">
    <ion-list *ngIf="year" shadow>
      <ion-list-header>
        Selecione o período
      </ion-list-header>
      <ion-item>
        <ion-label stacked>Ano</ion-label>
        <ion-select [(ngModel)]="filter.year"
                    interface="action-sheet"
                    cancelText="Cancelar">
          <ion-option *ngFor="let year of years">{{year}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="!year" shadow>
      <ion-list-header>
        Selecione o período
      </ion-list-header>
      <ion-item>
        <ion-label>De</ion-label>
        <ion-datetime [(ngModel)]="filter.fromISO"
                      displayFormat="MMMM/YYYY"
                      pickerFormat="MMMM YYYY"
                      cancelText="Cancelar"
                      doneText="Selecionar">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Até</ion-label>
        <ion-datetime [(ngModel)]="filter.toISO"
                      displayFormat="MMMM/YYYY"
                      pickerFormat="MMMM YYYY"
                      cancelText="Cancelar"
                      doneText="Selecionar">
        </ion-datetime>
      </ion-item>
    </ion-list>
  </ng-container>
  <span separator shadow></span>
  <large-button
    text="Pesquisar"
    leftIcon="ios-search"
    rightIcon="ios-arrow-forward-outline"
    color="primary-dark"
    (click)="dismiss()"
  ></large-button>
</module-page>