page-transparency-filter {
  #content {
    background-color: white;

    padding-bottom: 16px !important;
  }
  ion-list {
    flex: 1;
    margin-bottom: 0 !important;

    ion-list-header {
      background-color: #ffdce7 !important;
      color: #004297 !important;
      font-weight: 600 !important;
    }
  }
  large-button {
    width: 75%;
    align-self: center;
  }
}
