page-driver-license {
  @media screen and (max-width: 350px){
nav-title .content p {
    font-size: 25px;
}}
  [color-primary-light], .color-primary-light {
    background-color: #004297;
    border-radius: 25px;
}
  .cnh-card {
    min-height: 200px;
  }
  .cnh-card__title {
    font-size: 1.8rem;
    color: $color-secondary;
  }

  .cnh-card__title--danger {
    color: $color-danger;
  }

  .cnh-card__img {
    border: 2px solid $color-primary;
  }

  @media (min-width: map-get($screen-breakpoints, lg)) {
    .cnh-card__title {
      font-size: 2.2rem;
    }
  }
}
