page-transcol-map-labels {
  .bus-stops {
    ion-icon[item-start] + .item-inner {
      margin-left: 12px;
    }

    ion-icon {
      border-radius: 100%;
      border: 2px solid transparent;
      font-size: 1.3em;
      padding: 5px 6px;
    }

    .available-origin ion-icon {
      color: #b95b68;
      border-color: #b95b68;
    }

    .available-destination ion-icon {
      color: #628b96;
      border-color: #628b96;
    }

    .origin ion-icon {
      color: darkgoldenrod;
      border-color: darkgoldenrod;
    }

    .destination ion-icon {
      color: #003e50;
      border-color: #003e50;
    }

    .good ion-icon {
      color: green;
    }

    .not-good ion-icon {
      color: orange;
    }

    .bad ion-icon {
      color: red;
    }

    .no-info {
      ion-label {
        white-space: normal;
      }

      ion-icon {
        color: gray;
      }
    }
  }
}
