edocs-document-summary-header {
  .doc-header {
    .blocked {
      margin-bottom: 8px;
      margin-top: 8px;
      display: block;
      color: darkred;
    }

    ion-label {
      margin-bottom: 5px !important;
      h2 {
        font-weight: 500;
        color: $color-primary !important;
      }
      .doc-header-badges {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        button {
          color: #9e9e9e;
          min-width: 90px;
        }
      }
    }
  }
}
