<module-page title="Situação da CNH" no-padding>
  <ion-buttons topbar>
    <button icon-only
            (click)="addCNH()">
      <ion-icon name="open"></ion-icon>
    </button>
  </ion-buttons>
  <espm-driver-status *ngIf="status"
                      [status]="status"></espm-driver-status>
  <ion-item text-center
            *ngIf="!loaded">
    <ion-spinner></ion-spinner>
  </ion-item>
  <ion-item text-center
            *ngIf="loaded && !status">
    Verifique os dados informados
  </ion-item>
  <espm-tickets [tickets]="tickets"></espm-tickets>

</module-page>