page-bus-line-info {
  nav-header p {
    font-size: 125% !important;
  }
  
  #content {
    padding: 0;

    .toolbar-background {
      background-color: transparent !important;
    }
    .toolbar-md {
      padding: 0;
      min-height: 42px;
    }
    .segment-activated {
      background-color: #820043 !important;
      color: white !important;
    }
    .segment-button {
      border-color: #820043;
      background-color: #fff;
      color: #004297;
      font-weight: 600;
    }
  }

  ion-label {
    color: #004297 !important;
    font-weight: 600;
  }

  ion-list {
    margin: 0 !important;
  }

  #path {

    .input-wrapper {
      display: flex;
      
      .label {
        display: flex;
        margin: 0;
        height: 100%;
        align-items: center;

        h3 {
          height: min-content;
          margin: 0;
        }
      }
    }

  }

  .day-group {
    margin-bottom: 0;
    padding-bottom: 30px;
    background: #fff;
    border-bottom: 1px solid #dedede;
  }
  .schedule-hours {
    .label {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &:after {
        content: '';
        flex: auto;
      }
    }
  }

  .path-order {
    min-width: 25px;
  }

  .path-icon {
    margin-right: 8px;
  }

  .segment-ios .segment-button:not(.segment-activated) {
    background-color: white;
  }
}
