
<module-page [title]="'Agendar'">
  <form [formGroup]="form">
    <div>
      <!-- categorias -->
      <div *ngIf="page === 1">
        <ion-grid>
          <ion-row>
            <ion-col text-wrap>
              <ion-label class="initial-message">
                <h2>AGENDAMENTO DE SERVIÇOS</h2>
                <p margin>
                  Esse serviço possibilita ao cidadão agendar, pela internet, atendimento para serviços prestados por órgãos
                  públicos em todo o estado.
                </p>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-list-header>Selecione a Categoria</ion-list-header>
                <ng-container *ngIf="categories$ | async as categories; else loading">
                  <button ion-item *ngFor="let categoria of categories" (click)="categorySelected(categoria.id)">
                    {{ categoria.nome }}
                  </button>
                </ng-container>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <!-- serviços -->
      <div *ngIf="page === 2" class="limit-bottom inner-text">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-list full>
                <ion-list-header>Selecione o Serviço</ion-list-header>
                <ng-container *ngIf="services$ | async as services; else loading">
                  <button ion-item *ngFor="let service of services" (click)="serviceSelected(service)">
                    {{ service.nome }}
                  </button>
                  <ng-container *ngIf="!loadingServiveDetails; else loading">
                    <ng-container *ngIf="serviceDetails">
                      <ion-list-header>Detalhes do serviço</ion-list-header>
                      <ion-item text-wrap>
                        <div [innerHTML]="serviceDetails"></div>
                      </ion-item>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row></ion-row>
        </ion-grid>
      </div>

      <!-- unidades -->
      <div *ngIf="page === 3 && (units$ | async) as unidades" class="limit-bottom">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-list-header>Selecione a Unidade</ion-list-header>
                <button ion-item *ngFor="let unidade of unidades" (click)="unitSelected(unidade.id)">
                  {{ unidade.nome }}
                </button>
                <ng-container *ngIf="unitDetails">
                  <ion-list-header>
                    Detalhes da Unidade
                  </ion-list-header>
                  <ion-item text-wrap>
                    <div [innerHTML]="unitDetails"></div>
                  </ion-item>
                </ng-container>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row></ion-row>
        </ion-grid>
      </div>

      <!-- agenda -->
      <!--  [ngClass]="{'limit-bottom': emailFocus }"> -->
      <div *ngIf="page === 4 && (schedule$ | async) as agenda">
        <ion-grid>
          <ion-row>
            <ion-col class="keyboard-fix">
              <ion-list>
                <ion-item>
                  <ion-label stacked>Data</ion-label>
                  <ion-select formControlName="data" (ionChange)="dateSelected($event)">
                    <ion-option *ngFor="let data of agenda.diasDisponiveis" [value]="data">
                      {{ data | date: 'dd/MM/yy' }}
                    </ion-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label stacked>Hora</ion-label>
                  <ion-select formControlName="horaDesejada">
                    <ion-option *ngFor="let hora of scheduleTimes" [value]="hora">
                      {{ hora }}
                    </ion-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label stacked>Nome</ion-label>
                  <ion-input type="text" formControlName="nome"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label stacked>Tipo do Documento</ion-label>
                  <ion-select formControlName="tipoDocumento">
                    <ion-option *ngFor="let tipo of agenda.agenda.tiposDocumentos" [value]="tipo.id">
                      {{ tipo.nome }}
                    </ion-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label stacked>Documento</ion-label>
                  <ion-input type="text" formControlName="documento"></ion-input>
                </ion-item>
                <div radio-group (ionChange)="setPhoneValidator($event)">
                  <ion-row no-padding>
                    <ion-col no-padding>
                      <ion-item>
                        <ion-radio value="tel" [checked]="true"></ion-radio>
                        <ion-label>Telefone</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col no-padding>
                      <ion-item>
                        <ion-radio value="cel"></ion-radio>
                        <ion-label>Celular</ion-label>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </div>
                <ion-item>
                  <ion-label stacked>Telefone</ion-label>
                  <ion-input type="text" formControlName="telefone" [textMask]="{ mask: phoneMask }"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label stacked>Email</ion-label>
                  <ion-input
                    type="text"
                    formControlName="email"
                    (ionFocus)="emailFocus = true"
                    (ionBlur)="emailFocus = false"
                  ></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </form>

  <ng-template #loading>
    <ion-item>
      <ion-spinner></ion-spinner>
    </ion-item>
  </ng-template>

<ion-footer *ngIf="page === 2">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <button ion-button full color-secondary (click)="previous()">Voltar</button>
      </ion-col>
      <ion-col>
        <button [disabled]="!form.controls['servico'].value" ion-button full color-secondary (click)="next()">
          Avançar
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

<ion-footer *ngIf="page === 3">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <button ion-button full color-secondary (click)="previous()">Voltar</button>
      </ion-col>
      <ion-col>
        <button [disabled]="!form.controls['unidade'].value" ion-button full color-secondary (click)="next()">
          Avançar
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

<ion-footer *ngIf="page === 4 && !keyboard.isVisible">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <button ion-button full color-secondary (click)="previous()">Voltar</button>
      </ion-col>
      <ion-col>
        <button [disabled]="form.invalid" ion-button full color-secondary (click)="checkEmail()">Concluir</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
</module-page>