// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: '../assets/fonts';

$fa-font-path: '../assets/fonts' !default;

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import 'ionic.globals';

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// custom variables
$color-primary: #208baa;
$color-primary-light: rgb(84, 157, 178);
$color-secondary: #c86673;
$text-color: #333;
$color-gray: #51514f;
$color-light: #fff;
$color-error: darkred;
$color-danger: darkred;

$app-colors: (
  primary: ($color-primary, $color-light),
  primary-inverse: ($color-light, $color-primary),
  primary-light: ($color-primary-light, $color-light),
  secondary: ($color-secondary, $color-light),
  gray: ($color-primary, $color-light),
  light: (transparent, $color-light),
  error: (transparent, $color-danger),
  danger: (transparent, $color-danger)
);

// ionic variables
$font-family: 'Roboto';
$font-family-base: $font-family, 'Helvetica Neue', sans-serif;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$font-family-ios-base: $font-family, -apple-system, 'Helvetica Neue', sans-serif;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$font-family-md-base: $font-family, 'Helvetica Neue', sans-serif;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
$font-family-wp-base: $font-family, 'Helvetica Neue', 'Segoe UI', 'Noto Sans', sans-serif;

$split-pane-side-max-width: 20%;

/************* Button component ************************************/
// // Android
// $button-md-text-color: $color-light !important;
// // IOS
// $button-ios-text-color: $color-light !important;

/************* Segment component ************************************/
// Android
$segment-button-md-text-color-activated: $color-light;
$segment-button-md-border-color-activated: $color-secondary;
//$segment-button-md-font-size: 1.5rem;
// IOS
$segment-button-ios-text-color: $color-light;
$segment-button-ios-background-color-activated: $color-secondary;
//$segment-button-ios-font-size: 1.4rem !important;

/************* NavBar component ************************************/
// Android
$toolbar-md-button-color: $color-light;
$toolbar-md-title-text-color: $color-light;
// IOS
$toolbar-ios-title-text-color: $color-light;
$toolbar-ios-button-color: $color-light;

/************* NavBar component ************************************/
// IOS
$searchbar-ios-background-color: transparent;

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

// @import 'ionic.theme.default';

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import 'ionic.ionicons';

// Fonts
// --------------------------------------------------

@import 'roboto';
@import 'noto-sans';
