// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import '../theme/mixins';

body,
input,
textarea,
keygen,
select,
button {
  font-family: $font-family;
}

.active,
[active],
[color-primary],
.color-primary,
.toolbar-title,
ion-icon,
ion-navbar.toolbar,
.toolbar-background {
  @include colors($color-primary,$color-light);
}

[color-secondary],
.color-secondary {
  @include colors($color-secondary,$color-light);
}

[color-primary-inverse],
.color-primary-inverse {
  @include colors($color-primary-light,$color-light);
}

[color-primary-light],
.color-primary-light {
  @include colors($color-light,$color-primary);
}

[color-light],
.color-light {
  @include colors(transparent, $color-light);
}

.list-header {
  margin-bottom: 0;
  color: $color-secondary;
  background: #f5f5f5;
}

.item > ion-icon {
  background-color: transparent;
  color: #333;
}

ion-icon[name='exit'] {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}
