// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import '../theme/mixins';
@import '../theme/pop-up-modal';
@import 'font-awesome';

i[class^='fa-'],
ion-icon[class^='fa-'] {
  font-family: 'FontAwesome' !important;
}

ion-content {
  background-color: #fefdff;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23c2cce1' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

ion-menu {
  .menu-inner {
    background: $color-menu-bg !important;
  }
  ion-content {
    background-color: transparent !important;
    background-image: none;
  }
}

.no-scroll .scroll-content {
  overflow: hidden;
}

body,
input,
textarea,
keygen,
select,
button {
  font-family: $font-family;
}

@each $colorName, $colorValues in $app-colors {
  [color-#{$colorName}],
  .color-#{$colorName} {
    @include colors($colorValues...);
  }

  [color-#{$colorName}-fg],
  .color-#{$colorName}-fg {
    color: nth($colorValues, 1);
  }

  [color-#{$colorName}-bg],
  .color-#{$colorName}-bg {
    background-color: nth($colorValues, 1);
  }
}

.active,
[active],
.toolbar-title,
ion-navbar.toolbar,
.toolbar-background {
  @include colors($color-primary,$color-light);
}

.list-header {
  margin-bottom: 0;
  color: $color-secondary;
  background: #f5f5f5;
}

ion-icon[name='exit'] {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

.split-pane-side {
  .scroll-content {
    overflow: hidden;
    overflow-y: scroll;
  }
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.capitalize {
  text-transform: capitalize;
}

.accent,
[accent] {
  color: #c86673 !important;
}

.action-sheet-group {
  max-height: 60vh;
}

ion-thumbnail {
  img-loader {
    width: 80px;
    height: 80px;

    ion-spinner {
      svg circle {
        stroke: #999 !important;
      }
    }
  }
}

/*
 * Default search button on footer for iOS
 */
ion-footer button.button-ios.search-button {
  margin-bottom: 0;
  margin-top: 0;
  height: 3.24em;
}

// @media only screen and (min-width: 768px) {
//   .ion-page .scroll-content {
//     padding: 10px;
//   }
// }

// @media only screen and (min-width: 992px) {
//   .ion-page .scroll-content {
//     padding: 20px;
//   }
// }

// @media only screen and (min-width: 1200px) {
//   .ion-page .scroll-content {
//     padding: 30px;
//   }
// }

// POP-IN (FLOAT ACTION BUTTON EFFECT) -------------
.pop-in {
  animation: pop-in 0.6s;
}
@keyframes pop-in {
  0% {
    transform: scale(0);
  }
  45% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
