<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button
              icon-only
              (click)="navCtrl.pop()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Feedback</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="title-container">
    <h5 class="title">
      <strong>REPORTAR UM PROBLEMA</strong>
    </h5>
    <h6 class="subtitle">Porque você está reportando um problema?</h6>
  </div>
  <div class="list-problems">
    <div *ngFor="let feedbackItem of feedbackList; index as i;">
      <div class="line-item-inner first-panel"
           (click)="showDetails(i)">
        <strong class="line-number">{{feedbackItem.description}}</strong>
        <div class="icon-detail">
          <i [ngClass]="{ 'rotate': activePanel === i }"
             class="fa fa-chevron-right"
             aria-hidden="true"></i>
        </div>
      </div>
      <div class="panel"
           *ngIf="activePanel === i">
        <feedback-form [showStop]="feedbackItem.showStop"
                       [showLine]="feedbackItem.showLine"
                       [showTime]="feedbackItem.showTime"
                       [getLocation]="feedbackItem.getLocation"
                       [showText]="feedbackItem.showText"
                       (onSendFeedback)="saveFeedback($event)"
                       (onError)="showDialog($event)">
        </feedback-form>
      </div>
    </div>
  </div>
  <div class="fix-bottom-keyboard"></div>
</ion-content>