page-transcol-online-feedback {
  background-color: #f1f1f1;

  .title-container {
    .title {
      color: #5d5d5d;
    }
    .subtitle {
      color: #808080;
    }
  }

  .list-problems {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: $color-primary;
    border-radius: 5px;
    color: #eaeaea;

    .line-item-inner {
      height: 60px;
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
      align-items: center;

      &:not(.first-panel) {
        border-top: 1px solid #167590;
      }

      i.fa {
        transition: all 200ms linear;

        &.rotate {
          transform: rotate(90deg);
        }
      }
    }

    .md-list-item-text {
      justify-content: space-between;
    }

    .icon-detail {
      font-size: 1.8em;
    }

    .panel {
      background-color: #52a7bf;

      .input-line {
        padding-left: 10px;
        border-radius: 5px;
      }

      &.last-panel {
        margin-bottom: 20px;
        border-radius: 0 0 4px 4px;
      }
    }
  }

  body.platform-ios .fix-bottom-keyboard {
    height: 40vh;
  }
}
