origin-previsions {
  .origin-previsions__table-header,
  .origin-previsions__page-title {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding: 8px;
  }

  .origin-previsions__table-header {
    background: #f5f5f5;
    padding: 8px 15px;
  }

  .origin-previsions__page-title {
    margin-bottom: 5px;
    background: none;
    justify-content: center;
    i,
    strong {
      font-size: 16px;
    }
  }
}
