espm-dt-concurso-page {
  ion-item-divider ion-icon[item-start] {
    font-size: 2.5rem;
  }

  .item ion-icon[item-start] + .item-inner {
    margin-left: 0;
  }
  #not-founded {
    color: rgb(240, 162, 162);
  }
}
