page-calendar-filter {
  .label-button {
    float: right;
    text-transform: uppercase;
    color: $color-primary;
  }
  .active, [active], .toolbar-title, ion-navbar.toolbar, .toolbar-background {
    background-color: rgb(233, 247, 254);
    font-size: x-large;
    color: #004297;
    text-align: center;
    width: 95%;
  }
  .item-md .item-button {
    background-color: #ffff;
  }
  [color-secondary], .color-secondary {
    background-color: #004297;
    color: #fff;
    border-radius: 25px;
    width: 50%;
    margin: auto;
}
.content-md, .list-header, .page-calendar-filter .active{
  background-color:  rgb(233, 247, 254);
}
.bar-button-md[icon-only] ion-icon{
  color: #2BACE2;
}

.bar-buttons-md[left] {
  margin-left: 10px;
}

}
page-calendar button {
  margin-left: 10px;
}
page-calendar h1 {
  width: 90%;
}