<ion-header>
  <ion-navbar>
    <ion-title *ngIf="protocol">Detalhes do Processo</ion-title>
    <ion-buttons end>
      <button ion-button
              icon-only
              (click)="toggleFavorite(protocol)">
        <ion-icon name="star-outline"
                  *ngIf="!isFavorite(protocol)"></ion-icon>
        <ion-icon name="star"
                  *ngIf="isFavorite(protocol)"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list-header *ngIf="protocol">
    <h1 style="font-weight: 500;">N° #{{protocol.number}}</h1>
    <small style="display:block;color:#999;margin-top:5px;"> Consulta realizada em 13/07/2018 17:34:42</small>
  </ion-list-header>
  <ion-list *ngIf="protocol">
    <ion-item>
      <p>{{protocol.summary | capitalize}}</p>
    </ion-item>

    <ion-item>
      <strong>Assunto</strong>
      <p item-end>{{protocol.subject | capitalize}}</p>
    </ion-item>

    <ion-item>
      <strong>Situação</strong>
      <p item-end>{{protocol.status | capitalize}}</p>
    </ion-item>

    <ion-item *ngIf="lastUpdate">
      <strong>Último Andamento</strong>
      <p item-end>{{lastUpdate.date | date: 'dd/MM/yyyy'}}</p>
    </ion-item>

    <ion-item>
      <strong>Município</strong>
      <p item-end>{{protocol.district | capitalize}}</p>
    </ion-item>

    <ion-item no-lines>
      <strong>Interessado(s)</strong>
    </ion-item>

    <ion-item *ngFor="let part of protocol.parts">
      <ion-icon item-start
                name="ios-contact"></ion-icon>
      <p>{{part | capitalize}}</p>
    </ion-item>
    <ion-item *ngFor="let part of protocol.parts">
      <ion-icon item-start
                name="ios-contact"></ion-icon>
      <p>{{part | capitalize}}</p>
    </ion-item>
    <ion-item *ngFor="let part of protocol.parts">
      <ion-icon item-start
                name="ios-contact"></ion-icon>
      <p>{{part | capitalize}}</p>
    </ion-item>
    <ion-item>
    </ion-item>
    <ion-item no-lines>
      <strong>Trâmites(s)</strong>
    </ion-item>
    <ion-item *ngFor="let update of protocol.updates">
      <h3>
        <strong>{{update.date | date: 'dd/MM/yyyy'}}</strong>
        <ion-badge>{{update.status | capitalize}}</ion-badge>
      </h3>
      <p margin-top>
        <strong *ngIf="update.agency">Órgão: </strong>{{update.agency | capitalize}}</p>
      <p>
        <strong *ngIf="update.area">Local: </strong>{{update.area | capitalize}}</p>
    </ion-item>
  </ion-list>
</ion-content>