page-sep-details {
  strong {
    font-weight: 500;
  }

  .scroll-content {
    background-color: #fff !important;
    padding: 0 !important;
  }

  ion-badge {
    float: right;
    background-color: #8c8c8c !important;
  }
}
