<ion-header>
  <ion-navbar>
    <ion-title>{{ concurso?.nome }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="favoritar(concurso)">
        <ion-icon name="md-star" *ngIf="concurso?.favorito"></ion-icon>
        <ion-icon name="md-star-outline" *ngIf="!concurso?.favorito"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="concurso" no-margin>
    <ng-container>
      <ion-item-divider color="light" text-uppercase>
        <ion-icon item-start name="paper"></ion-icon>DESCRIÇÃO
      </ion-item-divider>
      <ion-item>
        <h4 text-wrap accent>{{ concurso?.descricao }}</h4>
      </ion-item>
    </ng-container>
    <ng-container *ngFor="let data of concurso.datas">
      <ion-item-divider color="light" text-uppercase>
        <ion-icon item-start name="calendar"></ion-icon>{{ data.nome }}
      </ion-item-divider>
      <ion-item *ngIf="data.inicio">
        <ion-label>Início</ion-label>
        <h4 item-end accent>{{ data.inicio | shortDateFormat }}</h4>
      </ion-item>
      <ion-item no-lines *ngIf="data.fim">
        <ion-label>Fim</ion-label>
        <h4 item-end accent>{{ data.fim | shortDateFormat }}</h4>
      </ion-item>
    </ng-container>
    <ion-item-divider *ngIf="concurso?.cursos" color="light">
      <ion-icon name="book" item-start></ion-icon>
      Cursos ofertados
    </ion-item-divider>
    <button ion-item *ngFor="let curso of concurso?.cursos">
      <p>Curso: {{ curso.nome }}</p>
      <p>Carga Horaria: {{ curso.cargaHoraria }}</p>
      <p>Vagas: {{ curso.vagas }}</p>
      <p>Turno: {{ curso.turno }}</p>
      <p>Municipio: {{ curso.municipio }}</p>
    </button>
  </ion-list>
</ion-content>