
documents-to-send-addressees {
   
    ion-scroll { 
        white-space: nowrap; 
    }

    .scrollable{
        height: 300px;
        border: 1px solid black;
    }

    .closeDest{
        width: 10%;
    }

    ion-card.cardDest {
        border-radius: 1em;
        background-color: darkgray;
    }

    div.headerDest{
    }

    div.contentDest {
    }

    button.addButton {
        float: left;
    }

}