espm-dt-concurso-page {
  ion-list {
    flex: 1;
    overflow: scroll;
    border-bottom: 1px solid #abe1fa;
  }

  ion-item-divider {
    background-color: #fdeff5 !important;
    color: #004297 !important;
  }

  ion-item-divider ion-icon[item-start] {
    font-size: 2.5rem;
  }

  .item ion-icon[item-start] + .item-inner {
    margin-left: 0;
  }

  ion-item [accent] {
    color: #ff0083 !important;
  }
  
  ion-label {
    font-size: 20px;
  }
  
  .item-md{
    position: initial;
  }
  
  #not-found {
    color: rgb(240, 162, 162);
  }

  large-button {
    width: 75%;
    align-self: center;
    margin: 8px 0;
  }
}
