espm-dt-concurso-page {
  ion-item-divider {
    background-color: #fdeff5 !important;
    color: #004297 !important;
  }
  
  ion-item-divider ion-icon[item-start] {
    font-size: 2.5rem;
  }

  .item ion-icon[item-start] + .item-inner {
    margin-left: 0;
  }

  ion-item [accent] {
    color: #ff0083 !important;
  }

  #not-founded {
    color: rgb(240, 162, 162);
  }
  ._css{
    background: linear-gradient(45deg, red 50%, #208baa 50%);
    height: 2px;
  }
  .title{
     text-align: center;
  }
  .toolbar-background, .toolbar-title{
    background-color: #004297;  
    }
  .botao_classificados{
    position: fixed;
    float: bottom;
    bottom: 25px;
    right: 15px ;
    left: 15px ;
    z-index: 100;
    background-color: #004297;
    color:white;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    width: 90%;
    height: 70px ;
  }
  ion-label {
    font-size: 20px;
  }
}
