page-detran-service {
    .color-primaria{
        background-color: rgb(233, 247, 254) ;
    }
    .selectmenu{
        background-image:  url('../assets/icon/icone-reordenar-escuro.svg' );
        background-repeat: no-repeat;
        width: 14%;
        float: right;
        padding: 15px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .car-css{
        background-color: #ffffff;
        height: 80px;
        text-align: center;
        padding-top: inherit;
        border-radius: 12px;
    }
    .icon{
        font-size: -webkit-xxx-large;
    }
    .icon-md {
        font-size: -webkit-xxx-large;
    }
    .foot-css{
    position: fixed;
    bottom: 0;
    }
    .item-md {
        border-radius: 25px;
    }
    .ion-md-menu:before {
        font-size: smaller;
    }
    .ion-md-arrow-round-back:before {
        font-size: xx-large;
        color: #2BACE2;
    }
    button{
        background-color:  rgb(233, 247, 254);
    }
    h1{
        color: #004297;
        font-weight: bold;
    }
    .label-md {
        color: #004297;
    }
    
    
}
