<module-page title="Minhas Reclamações" no-padding>
  <ion-card
    *ngFor="let denuncia of (denuncias$ | async)"
    (click)="showDemand(denuncia.id)">
    <ion-card-header>
      {{date(denuncia.dataReclamacao)}} - {{denuncia.status}}
    </ion-card-header>
    <ion-card-content>
      <p>{{denuncia.tipoReclamacao}}</p>
      <span>{{denuncia.descricao}}</span>
    </ion-card-content>
  </ion-card>
  <p id="none" *ngIf="denuncias.length == 0">Não há reclamações registradas por seu usuário.</p>
</module-page>