<module-page title="Concursos" no-padding>
  <ion-searchbar placeholder="Pesquisar..." [showCancelButton]="true" cancelButtonText="Cancelar" [animated]="false"
    (ionInput)="search($event)" (ionClear)="clear($event)" (ionCancel)="clear($event)">
  </ion-searchbar>
  <ion-content>
    <ion-list-header *ngIf="concursosLength">
      {{filteredConcursos.length}} concursos encontrados
    </ion-list-header>
    <ion-list
        [virtualScroll]="concursos$ | async"
        [virtualTrackBy]="trackById"
      >
      <button
          ion-item
          *virtualItem="let concurso" 
          (click)="showDetails(concurso.id)">
        <div class="button-content">
          <h3 text-wrap class="concursos_name">
            {{ limite ( concurso.orgao ) }}
          </h3>
          <p text-wrap class="concursos_descricao">{{ concurso.descricao }}</p>
        </div>
        <div class="button-status">
          <concurso-status [status]="concurso.status"></concurso-status>
          <p>
            <ion-icon *ngIf="concurso.favorito" class="star_css" item-end name="md-star"></ion-icon>
            <ion-icon *ngIf="!concurso.favorito" class="star_css" item-end name="md-star-outline"></ion-icon>
          </p>
        </div>
        
      </button>
    </ion-list>
    <ion-item *ngIf="concursosLength" text-center no-lines id="not-found">
      <h2>Nenhum concurso encontrado</h2>
      <p>Tente mudar o filtro da consulta</p>
    </ion-item>
  </ion-content>

</module-page>