<!-- Generated template for the CardNoticiaComponent component -->
<ion-card *ngIf="news">
  <img *ngIf="news.image" [src]="news.image" />
  <ion-row no-padding class="news-origin">
    <ion-col>
      <span ion-button clear small>{{news.origin}}</span>
    </ion-col>
    <ion-col text-center>
      <span ion-button clear small>{{news.date | date: 'dd/MM/yyyy HH:mm'}}</span>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="wasUpdated(news)">
    <ion-col>
      <small class="last-updated">Atualizada a: {{ news.lastModified | fromNow }}
      </small>
    </ion-col>
  </ion-row>
  <ion-card-content>
    <ion-card-title>
      {{news.title}}
    </ion-card-title>
    <p [innerHTML]="news.body"></p>
  </ion-card-content>
</ion-card>
