card-noticia {
  .last-updated {
    display: block;
    color: #999;
  }

  .news-info {
    color: #999;
  }

  .news-info-highlight {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
