<!-- Generated template for the CardNoticiaComponent component -->
<ng-container *ngIf="news">
  <ng-container *ngIf="!highlight">
    <ion-card>
      <img *ngIf="news.image"
           [src]="news.image" />
      <ion-card-content>
        <div class="news-info">
          <span accent>{{news.origin}}</span> |
          <span>{{news.date | date: 'dd/MM/yyyy HH:mm'}}</span>
          <small *ngIf="wasUpdated(news)"
                 class="last-updated">Atualizada há: {{ news.lastModified | fromNow }}</small>
        </div>
        <ion-card-title>
          {{news.title}}
        </ion-card-title>
        <p [innerHTML]="news.body"></p>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="highlight">
    <ion-card>
      <img *ngIf="news.imageHighlight"
           [src]="news.imageHighlight" />
      <ion-card-content>
        <ion-card-title>
          {{news.title}}
        </ion-card-title>
        <p [innerHTML]="news.summary"></p>
        <ion-row no-padding
                 class="news-info-highlight">
          <ion-col>
            <span>{{news.origin}} | {{news.date | fromNow}}</span>
          </ion-col>
          <ion-col>
            <span accent>LEIA MAIS</span>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ng-container>