card-noticia {
  .last-updated {
    display: block;
    color: #999;
  }

  .news-info {
    color: #999;
  }

  .news-info-highlight .col {
    color: #999;
    padding-left: 0;
    padding-right: 0;

    &:last-child span {
      float: right;
    }
  }
}
