<ng-container *ngIf="news">
  <ng-container *ngIf="!highlight">
    <ion-card>
      <img *ngIf="news.image"
           [src]="news.image" />
      <ion-card-content>
        <div class="news-info">
          <span accent>{{news.origin}}</span>
          <ion-note>| {{news.date | date: 'dd/MM/yyyy HH:mm'}}</ion-note>
          <ion-note *ngIf="news | wasUpdated"
                    class="last-updated">Atualizada há: {{ news.lastModified | fromNow }}</ion-note>
        </div>
        <ion-card-title>
          {{news.title}}
        </ion-card-title>
        <p [innerHTML]="news.body"></p>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="highlight">
    <ion-card>
      <img *ngIf="news.imageHighlight"
           [src]="news.imageHighlight" />
      <ion-card-content>
        <ion-card-title>
          {{news.title}}
        </ion-card-title>
        <p [innerHTML]="news.summary"></p>
        <div class="news-info-highlight">
          <ion-note item-start>{{news.origin}} | {{news.date | fromNow}}</ion-note>
          <button item-end
                  ion-button
                  clear
                  accent>LEIA MAIS</button>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ng-container>