page-dashboard {
  ion-content {
    background-image: url('https://brasilturis.com.br/wp-content/uploads/2017/03/Vitoria-Yuri-Barichivich.jpg') !important;
    background-size: cover !important;

    #brasao-governo {
      border-top: 2px solid #c86673;
      border-bottom: 2px solid #27b3dc;
      padding: 6px 14px;
      margin: 10px 0 20px 0;
      img {
        width: 200px;
        margin: 15px auto 10px auto;
        display: block;
      }
    }

    ion-slides {
      height: auto;

      .swiper-container {
        height: auto;
        padding-top: 10px;
        .swiper-pagination {
          top: 0;
          .swiper-pagination-bullet-active {
            background: #fff;
          }
        }
      }
      .dashboard-icons {
        display: flex;
        flex-wrap: wrap;
        padding: 8px;

        ion-card {
          margin: 5px;
          flex: 1 1 130px;
          min-height: 130px;
          font-size: 1.4rem;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          color: #fff;
          background: rgba(4, 33, 51, 0.27);
          text-shadow: 1px 1px 4px #000000;
          ion-icon {
            font-size: 5rem;
            margin-bottom: 10px;
            text-shadow: 1px 1px 4px #000000;
          }
          small {
            margin-top: 2px;
          }
        }
      }
    }
  }
}
