line-previsions {
  .line-previsions__table-header,
  .line-previsions__page-title {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding: 8px;
  }

  .line-previsions__table-header {
    background: #f5f5f5;
    padding: 8px 15px;
  }

  .line-previsions__page-title {
    margin-bottom: 5px;
    background: none;
    justify-content: center;
    text-align: center;
    i,
    strong {
      font-size: 16px;
    }
  }

  .line-previsions__page-subtitle {
    text-transform: capitalize !important;
    font-size: 10px;
    line-height: 15px;
    margin-top: 6px;
  }

  .line-previsions__row {
    border-bottom: 1px solid #eaeaea;
    align-items: center;
  }

  .line-previsions__relative-time {
    text-transform: lowercase;
    display: block;
    font-size: 12px;
  }

  .line-previsions__reliability {
    font-size: 20px;
  }

  .fa-wheelchair {
    color: #2173a5;
    font-weight: bold;
  }
}
