espm-lista-oportunidades-page {
  .scroll-content {
    padding: 0 !important;
    background-color: #e9f7fe;
  }

  ion-searchbar {
    background-color: transparent !important;
  }

  .searchbar-input {
    box-shadow: none !important;
  }

  ion-list {
    display: flex;
    flex-direction: column;
    align-items: center;


    button {
      width: 95%;
      display: flex !important;
    }

    .label {
      width: 100%;
      display: flex !important;
      flex-direction: row !important;

      .button-content, .button-status {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .button-content {
        width: 60%;

        h3 {
          font-weight: 600;
        }
        p, h3 {
          text-align: center;
        }
      }
      .button-status {
        width: 40%;

        ion-icon {
          color: #ff0083;
        }
      }
    }
  }
  /* concurso-status {
    margin: 0px !important;
  }
  .concursos_name {
    font-weight: 500;
    font-size: 1.6rem;
    float: left;
    margin: 0 auto;
    margin-left: 15px;
    font-variant: small-caps;
  }
  .concursos_descricao {
    width: 60%;
    margin-top: 10%;
    float: left;
    margin: 30px;
    position: absolute !important;
    border-right-style: outset;
    border-right-color: #d3ddf0;
    border-right-width: 1px;
    margin-left: 2px;
  }
  .texto_negrito {
    color: black;
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
    background-color: #e9f7fe;
  }
  .radius_concursos {
    border-radius: 10px;
    padding-left: 0px;
    padding-right: 5px;
    margin-bottom: 20px;
    width: 90%;
    background-color: white;
    height: 100px;
  }
  .status_float {
    float: right;
  }
  .badge {
    border-radius: 10px;
  }
  .item-inner {
    padding-bottom: 20px;
  }
  .andamento ion-badge {
    background-color: #2bace2 !important;
  }
  .encerrado ion-badge {
    background-color: #bf0065 !important;
  }
  .virtual-scroll .virtual-position,
  .virtual-scroll .virtual-position.item {
    left: 15px;
  }
  .efeito_css {
    background: linear-gradient(45deg, red 50%, #208baa 50%);
    height: 2px;
  }
  .list-md {
    background-color: #e9f7fe;
  }
  .center_css {
    margin-top: 1px;
  }
  .favorito_icon {
    color: $color-secondary;
  }
  .label-md {
    color: #004297;
  } */
}