<ion-header color-primary-bg>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cursos </ion-title>
  </ion-navbar>
  <ion-searchbar
    placeholder="Pesquisar..."
    [showCancelButton]="true"
    cancelButtonText="Cancelar"
    [animated]="false"
    (ionInput)="search($event)"
    (ionClear)="clear($event)"
    (ionCancel)="clear($event)"
  >
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-list-header class="texto_negrito" *ngIf="filteredConcursos && filteredConcursos.length">
    {{ filteredConcursos.length }} ENCONTRADOS
  </ion-list-header>
  <ion-list [virtualScroll]="filteredConcursos" [virtualTrackBy]="trackById" approxItemHeight="100px">
    <button class="radius_concursos" *virtualItem="let concurso" (click)="showDetails(concurso.id)">
      <div>
        <div>
          <h3 text-wrap class="concursos_name">{{ concurso.tipo }} - {{ concurso.anoBase }}</h3>
        </div>
        <p text-wrap class="concursos_descricao">{{ concurso.nome }}</p>
        <div class="status_float">
          <p class="center_css"></p>
          <div>
            <concurso-status [status]="concurso.status"></concurso-status>
          </div>
          <p>
            <ion-icon *ngIf="concurso.favorito" class="star_css" item-end name="md-star"></ion-icon>
            <ion-icon *ngIf="!concurso.favorito" class="star_css" item-end name="md-star-outline"></ion-icon>
          </p>
        </div>
      </div>
    </button>
  </ion-list>
  <ion-item *ngIf="filteredConcursos && !filteredConcursos.length" text-center no-lines id="not-founded">
    <h2>Nenhum concurso encontrado</h2>
    <p>Tente mudar o filtro da consulta</p>
  </ion-item>
  <ion-spinner *ngIf="!filteredConcursos" page-loading></ion-spinner>
</ion-content>
