<module-page title="Cursos" no-padding>
  <ion-searchbar
    placeholder="Pesquisar..."
    [showCancelButton]="true"
    cancelButtonText="Cancelar"
    [animated]="false"
    (ionInput)="search($event)"
    (ionClear)="clear($event)"
    (ionCancel)="clear($event)"
  ></ion-searchbar>
  <ion-content>
    <ion-list-header *ngIf="filteredConcursos && filteredConcursos.length">
      {{ filteredConcursos.length }} ENCONTRADOS
    </ion-list-header>
    <ion-list
        [virtualScroll]="filteredConcursos"
        [virtualTrackBy]="trackById"
      >
      <button
          ion-item
          *virtualItem="let concurso"
          (click)="showDetails(concurso.id)">
        <div class="button-content">
          <h3 text-wrap class="concursos_name">
            {{ concurso.tipo }} - {{ concurso.anoBase }}
          </h3>
          <p text-wrap class="concursos_descricao">{{ concurso.nome }}</p> 
          
          <!-- <p *ngIf="concurso.status === 'aberto' && concurso.distancia === 1 ">  Curso próximo a você </p>  -->
          <p *ngIf="checaCurso(concurso.id)"> Curso próximo a você </p> 
          
        </div>
        <div class="button-status">
          <concurso-status [status]="concurso.status"></concurso-status>
          <p>
            <ion-icon *ngIf="concurso.favorito" class="star_css" item-end name="md-star"></ion-icon>
            <ion-icon *ngIf="!concurso.favorito" class="star_css" item-end name="md-star-outline"></ion-icon>
          </p>
        </div>
      </button>
      
    </ion-list>
    <button *ngFor="let item of lista" >
      {{item.nome}}
    </button>
    <button *ngFor="let item of lista" >
      {{item.idade}}
    </button>
    
    <ion-item *ngIf="filteredConcursos && !filteredConcursos.length" text-center no-lines id="not-founded">
      <h2>Nenhum concurso encontrado</h2>
      <p>Tente mudar o filtro da consulta</p>
    </ion-item>
    <ion-spinner *ngIf="!filteredConcursos" page-loading></ion-spinner>
  </ion-content>

</module-page>
