<div class="route-previsions__table-header">
  <span>Linha/Ônibus</span>
  <span class="origin">Origem</span>
  <span class="destination">Destino</span>
  <span>Confiável</span>
</div>
<ion-spinner section-loading
             *ngIf="!previsions"></ion-spinner>
<ion-scroll scrollY="true"
            *ngIf="previsions && previsions.length">

  <ion-list class="route-previsions">

    <ion-item *ngFor="let prevision of previsions">
      <div class="route-previsions__body">
        <span>
          <strong>{{ prevision.identificadorLinha }}</strong>
          <span>{{ prevision.veiculo }}</span>
        </span>
        <span class="origin">
          <strong>{{ prevision.horarioNaOrigem }}</strong>
          <span class="route-previsions__relative-time">{{ prevision.previsaoNaOrigem }}</span>
        </span>
        <span class="destination">
          <strong>{{ prevision.horarioNoDestino }}</strong>
          <span class="route-previsions__relative-time">{{ prevision.previsaoNoDestino }}</span>
        </span>
        <span class="route-previsions__reliability"
              [ngStyle]="{'color': prevision.confiabilidade}">
          <i class="fa fa-bus"
             aria-hidden="true"></i>
        </span>
      </div>
    </ion-item>
  </ion-list>
</ion-scroll>
<div class="not-founded"
     *ngIf="previsions && !previsions.length">Nenhuma previsão encontrada</div>