
<module-page title="Qualidade do Ar" no-padding>

    <div>
        <ion-label class="titulo">
            <br>
            Índice de Qualidade do Ar (IQAr)<br>
        
            <b>Estação 
                <span>
                    {{point.Localizacao}} ({{point.Descricao}})
                </span>
            </b>
        </ion-label>
    </div>
    <div style="background-color: white;">
    <div>
        <span class="iqar-boa" *ngIf="point.Faixa == 'Boa'">{{point.Iqa}}<br> </span>
        <span class="iqar-moderada" *ngIf="point.Faixa == 'Moderada'" >{{point.Iqa}}<br> </span>
        <span class="iqar-ruim" *ngIf="point.Faixa == 'Ruim'" >{{point.Iqa}}<br> </span>
        <span class="iqar-muitoruim"  *ngIf="point.Faixa == 'Muito Ruim'">{{point.Iqa}}<br> </span>
        <span class="iqar-pessima" *ngIf="point.Faixa == 'Péssima'" >{{point.Iqa}}<br> </span>
    
</div>
    </div>
    <div style="font-size: 0.87em; margin-top:0px; text-align:center; background-color: white; ">
        <br>Poluente:
        <span>
            {{point.Poluente}}
        </span>
    </div>
    <ion-item no-lines >
        <ion-label class="boa" *ngIf="point.Faixa == 'Boa'" >{{point.Faixa}}</ion-label>
        <ion-label class="moderada" *ngIf="point.Faixa == 'Moderada'" >{{point.Faixa}}</ion-label>
        <ion-label class="ruim" *ngIf="point.Faixa == 'Ruim'" >{{point.Faixa}}</ion-label>
        <ion-label class="muitoruim" *ngIf="point.Faixa == 'Muito Ruim'" >{{point.Faixa}}</ion-label>
        <ion-label class="pessima" *ngIf="point.Faixa == 'Péssima'" >{{point.Faixa}}</ion-label>
    </ion-item>

    <div style="font-size: 0.87em;padding: 5px; text-align:center; background-color: white;">
        <span style="text-align:center; font-size: 1em;">Atualizado dia {{point.DataHora}} <br> (Dados das Últimas 48 horas)</span>
    </div>
   
    <div class="sessionChart">
        <div class="chartOne" *ngFor="let info of infoPoint" >
            <b>Poluente:</b> <br>
            {{info.Poluente}} {{info.PoluenteSigla}}
            <br><br>
            <b>IQAr:</b> 
            

            <br>         
            
        </div>
    </div>

    <div style="background-color: white;">
        <ul class="diva">
            <li><span class="faixa-boa"></span> Boa</li>
            <li><span class="faixa-moderada"></span> Moderada</li>
            <li><span class="faixa-ruim"></span> Ruim</li>
            <li><span class="faixa-muitoruim"></span> Muito Ruim</li>
            <li><span class="faixa-pessima"></span> Péssima</li>
        </ul>
    </div>
    <div style="margin-left: 5%; background-color: white;">* Valores sujeitos a validação posterior</div>

</module-page>


  
