page-dio-search {
  // .scroll-content,
  // .fixed-content {
  //   margin-top: 156px !important;
  // }

  // .scroll-content {
  //   display: flex;
  //   flex-direction: column;
  //   ion-item {
  //     flex: 1;
  //   }
  // }

  expandable-header {
    background: #208baa url('../assets/imgs/sep/triangles.png') !important;
    ion-item {
      width: 92% !important;
      margin: 4% !important;
      background-color: #fff;
      transition: 0.2s linear !important;
      &.item-datetime {
        ion-label {
          flex: initial !important;
        }

        ion-datetime {
          padding-left: 8px !important;
        }
      }
    }

    button {
      &.disabled {
        opacity: 0.8;
      }
      &[clear] {
        color: #fff !important;
      }
    }
  }

  .results {
    min-height: calc(100vh - 160px) !important;
  }

  .hit-title {
    font-size: 12px;

    ion-badge {
      font-size: 12px;
      float: right;
      color: #208baa;
      background-color: transparent;
    }
  }

  blockquote {
    margin: 10px 0 15px 0;
    padding: 5px 10px 10px 10px;
    border-left: 3px solid #ccc;
    font-size: 12px;

    strong {
      color: $color-secondary;
    }

    span {
      white-space: normal;
    }
  }

  .hit-buttons button {
    ion-icon {
      margin-left: 5px;
    }
  }
}
