<ion-header>
  <ion-navbar>
    <button ion-button
            menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Diário Oficial ES</ion-title>
    <ion-buttons end>
      <button ion-button
              icon-only
              (click)="openFilter()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="searched && totalHits">
    <ion-list-header>
      {{ totalHits }} resultados encontrados para
      <strong>"{{ filter.query }}"</strong>
    </ion-list-header>
    <ion-item *ngFor="let hit of hits">
      <div class="hit-title">
        <strong>Edição de {{ hit.date }}</strong>
        <ion-badge>Pág. {{ hit.pageNumber }}</ion-badge>
      </div>
      <blockquote *ngFor="let highlight of hit.highlights">
        ...
        <span [innerHTML]="highlight"></span>...
      </blockquote>
      <div class="hit-buttons">
        <button ion-button
                (click)="open( hit.editionUrl )"
                clear
                accent>
          EDIÇÃO
          <ion-icon accent
                    name="cloud-download"></ion-icon>
        </button>
        <button ion-button
                (click)="open( hit.pageUrl )"
                clear
                accent>
          PÁGINA
          <ion-icon accent
                    name="cloud-download"></ion-icon>
        </button>
        <button ion-button
                (click)="share( hit )"
                clear
                accent>
          COMPARTILHAR
          <ion-icon accent
                    name="share"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>

  <div *ngIf="!searched"
       text-center
       class="msg-consulta">
    <img src="/assets/imgs/dio/dio-logo.png">
    <h2>Consulta ao Diário Oficial do ES</h2>
    <p>
      Selecione um filtro e faça a pesquisa
    </p>
  </div>

  <ion-item *ngIf="searched && !totalHits"
            text-center>
    <h2>Nenhum resultado encontrado para</h2>
    <highlight>"{{filter.query}}"</highlight>
    <remark>Tente mudar o filtro da consulta</remark>
  </ion-item>
</ion-content>