<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button
            menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Diário Oficial ES</ion-title>
    <ion-buttons end>
      <button *ngIf="totalHits > 0"
              ion-button
              icon-only
              (click)="scrollToTop()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <expandable-header [scrollArea]="dioContent"
                     maxHeight="260">
    <ion-item no-lines>
      <ion-label>
        <ion-icon name="search"></ion-icon>
      </ion-label>
      <ion-input type="text"
                 [(ngModel)]="filter.query"
                 clearInput
                 no-validation
                 placeholder="Palavra-chave"></ion-input>
    </ion-item>
    <ion-item no-lines>
      <ion-label>
        <ion-icon name="md-calendar"></ion-icon>
      </ion-label>
      <ion-datetime [(ngModel)]="filter.dateMin"
                    placeholder="Data inicial"
                    displayFormat="DD/MM/YYYY"
                    pickerFormat="DD MM YYYY"
                    cancelText="Cancelar"
                    doneText="Selecionar">
      </ion-datetime>
    </ion-item>
    <ion-item no-lines>
      <ion-label>
        <ion-icon name="md-calendar"></ion-icon>
      </ion-label>
      <ion-datetime [(ngModel)]="filter.dateMax"
                    placeholder="Data final"
                    displayFormat="DD/MM/YYYY"
                    pickerFormat="DD MM YYYY"
                    cancelText="Cancelar"
                    doneText="Selecionar">
      </ion-datetime>
    </ion-item>

    <button ion-button
            float-right
            margin-right
            color-secondary
            (click)="search({pageNumber:0})">Pesquisar</button>
    <button *ngIf="filter.dateMax || filter.dateMin || filter.query"
            ion-button
            float-right
            clear
            (click)="clear()">limpar</button>
  </expandable-header>
</ion-header>

<ion-content #dioContent
             fullscreen>
  <ion-list *ngIf="searched && totalHits"
            class="results">
    <ion-list-header>
      {{ totalHits }} resultados encontrados para
      <strong>"{{ lastQuery }}"</strong>
    </ion-list-header>
    <search-hit-item [hit]="hit"
                     *ngFor="let hit of hits">
    </search-hit-item>
  </ion-list>

  <ion-item *ngIf="!searched"
            class="item-info"
            text-center>
    <h2>Selecione um filtro</h2>
    <p>Todos os campos são obrigatórios</p>
  </ion-item>

  <ion-item *ngIf="searched && !totalHits"
            text-center>
    <h2>Nenhum resultado encontrado para</h2>
    <highlight>"{{filter.query}}"</highlight>
    <p>Tente mudar o filtro da consulta</p>
  </ion-item>
  <ion-infinite-scroll *ngIf="hasMoreHits"
                       (ionInfinite)="search({pageNumber:filter.pageNumber+1}, $event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>