page-transparencia-expense-details {
 
  nav-title {
    p {
      font-size: 2.0rem !important;
    }
  }
  ion-list {
    display: flex;
    flex-direction: column;
    &.desc {
      flex-direction: column-reverse;
    }
  }
}
