page-classificacao {
  .classificado_id {
    font-weight: 700;
    align-self: flex-start;
    padding-top: 8px;
  }
  .classificado_name {
    font-weight: 500;
    font-size: 1.6rem;
    text-align: justify;
  }
  .classificado_descricao {
    font-weight: 300;
    text-align: justify;
  }
}
